/gergo/loginFX/build/
/gergo/loginFX/dist/
/gergo/Listak/dist/
/gergo/Listak/build/
/oli/moviePicker/target/
/oli/MoviePicker/target/
/oli/JavaFXApplication7/nbproject/private/
/gergo/kmToM/nbproject/private/
/gergo/kmToM/dist/
/gergo/kmToM/build/
/gergo/Biró_Szabolcs_Benjámin_11.19/build/
/gergo/Biró_Szabolcs_Benjámin_11.19/dist/
/gergo/onallo1/nbproject/private/
/gergo/onallo1/dist/
/gergo/onallo1/build/
/gergo/lottoProg/nbproject/private/
/gergo/lottoProg/build/
/gergo/lottoProg/dist/
