body {
  font-family: sans-serif;
  max-width: 600px;
  margin: 30px auto;
}
.task {
  border: 1px solid #ccc;
  padding: 10px;
  margin-bottom: 6px;
  border-radius: 6px;
  transition: 0.3s;
}
.done {
  background: #e6ffe6;
  color: green;
  font-weight: bold;
}
button {
  float: right;
}
